/* Validated CSS: https://jigsaw.w3.org/css-validator/#validate_by_input */

/* CSS rules for this project:

- Identation is done by TAB, not SPACE.
- Colors and fonts are defined by variables (:root).
- Setting sizes in "rem"
- Naming convention for classes are 'x'box, where 'x' is the type of box (f.e. contentbox)

*/

/* CSS Reset */
/* I didn't know that I actually needed to normalize the CSS with normalize.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
  font-size: 16px;
}

:root {
  --main-text: 0.8rem "Helvetica", Arial, sans-serif;
  --header-text: 1.6rem "Georgia", "Lucida Grande", serif;
  --small-header-text: 1.2rem "Georgia", "Lucida Grande", serif;
  --background: #0D0540;
  --text-color: #F2F2F2;
  --header-color: #F27405;
  --link-decoration: none;
  --link-color: #f29c05;
  --button-color: #0583f2;
  --form-background: #1b0b87;
  --form-width: 40vw;
  --form-max-width: 20rem;
  --info-background: #035aa7;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* GENERAL STYLES */

body {
  font: var(--main-text);
  color: var(--text-color);
  background: var(--background);
  line-height: 1.2rem;
  display: flex;
  justify-content: center;
}

h1,
h2 {
  font: var(--header-text);
  color: var(--header-color);
}

h3,
h4 {
  font: var(--small-header-text);
  color: var(--header-color);
}

form > h1:first-of-type {
  margin-top: 0;
}

a {
  text-decoration: var(--link-decoration);
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

/* makes the form style consistent across browsers */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* further ensures that the form style is consistent across browsers */

input,
textarea,
select,
button {
  width: 150px;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: var(--form-width) - 25%;
}

/* SPECIFIC STYLES */

h2 {
  margin-bottom: 1rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: var(--form-width);
  max-width: var(--form-max-width);
}

#form {
  background: var(--form-background);
  padding: 1rem;
  border-radius: 1rem;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.5rem;
}

#desc {
  background: var(--form-background);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

#payment-info, #validate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#payment-info {
  margin-bottom: 1rem;
}

button {
  width: calc(var(--form-width) - 50%);
  max-width: calc(var(--form-max-width) - 50%);
  background-color: var(--link-color);
  padding: 0.5rem;
}

#carddetails {
  margin: 0;
  padding: 0;
}

.req {
  padding: 0;
  font-size: 0.7rem;
}

/* RESPONSIVENESS */

@media screen and  (max-width: 720px) {

  main {
    width: calc((--form-width) - 75%);
  }

    #card, #number, #expiration {
    display: flex;
    flex-direction: row;
    gap: nowrap;
  }

    button {
    width: calc(var(--form-width) + 25%);
  }
  
}