/* Validated CSS: https://jigsaw.w3.org/css-validator/#validate_by_input */

/* CSS rules for this project:

- Identation is done by TAB, not SPACE.
- Properties and values are written in new lines.
- Colors are defined by variables.
- Setting sizes in "em"
- Naming convention for classes are 'x'box, where 'x' is the type of box (f.e. contentbox)

*/

:root {
  --main-text: "Helvetica", Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* || GENERAL STYLES */

body {
  font-style: var(--main-text);
}

h1,
h2,
h3,
h4 {
  /* … */
}

ul {
  /* … */
}
